
        body {
            background: #A7079F; /* Fallback color */
            background: radial-gradient(at left top, #0A6598, #A7079F);
            /*background-image: url('background.png');
            background-size: cover;
            background-position: center;*/
            display: flex;
            flex-direction: column; /* Arrange items vertically */
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }
        #imageCount {
            font-size: 72px;
            font-family: Arial, Helvetica, sans-serif;
            color: #ffffff;
            text-align: center;
            margin-bottom: 20px;
        }
        canvas {
            border: 1px solid black;
        }
        #cookie-banner {
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            background-color: rgba(0, 0, 0, 0.8);
            color: #fff;
            padding: 15px;
            text-align: center;
            z-index: 1000;
        }
        #cookie-banner a {
            color: #ffd700;
            text-decoration: underline;
        }
        #cookie-banner button {
            margin-left: 15px;
            padding: 10px 20px;
            background-color: #ffd700;
            color: #000;
            border: none;
            cursor: pointer;
        }
        #cookie-banner button:hover {
            background-color: #ffcc00;
        }
    
         /* Connection Status Indicator */
         .status-indicator {
            width: 15px;
            height: 15px;
            border-radius: 50%;
            display: inline-block;
            margin-left: 10px;
            vertical-align: middle;
            border: 1px solid #333;
        }

        .status-indicator.connected {
            background-color: #28a745; /* Green */
        }

        .status-indicator.disconnected {
            background-color: #dc3545; /* Red */
        }